<% if @categories.size == 0 %>
No categories available, please create some!
<%- end -%>

<ul id="categorylist">
<% @categories.each do |category| %>
    <li>
        <p><%= category.title %></p>
    </li>
<% end %>
</ul>

<br style="clear: both;" />

<h1>New category</h1>

<%= error_messages_for :category %>

<%- form_for(@category) do |f| -%>

    <p>
      <b>Category</b><br />
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.submit "Speichern" %>
    </p>

<%- end -%>
